*.class
*.log
*.log~
*.pyc
*.pyo
*.py~
*.sh~
*.txt~
*.pid
*.zip
settings.json
.coverage
.deployables
.DS_Store
_docs
__pycache__
bin
env
venv
media/
sh/*
tempfiles/
tmp/
.pytest_cache

*.swl
*.swm
*.swn
*.swo
*.swp
.ropeproject

.idea/
/static
htmlcov/

#vscode root env. variables
/.env
