# SQLAlchemy + alembic
psycopg2-binary==2.9.1
SQLAlchemy==1.4.22
alembic==1.6.5
asyncpg==0.24.0
# fastapi
fastapi==0.68.1
pydantic==1.8.2
starlette==0.14.2
typing-extensions==3.10.0.0
pydantic[email]==1.8.2
# uvicorn
PyYAML==5.4.1
asgiref==3.4.0
click==8.0.1
h11==0.12.0
httptools==0.2.0
python-dotenv==0.17.1
uvicorn==0.15.0
uvloop==0.16.0
watchgod==0.7
websockets==9.1
# auth
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.5
# client-http
requests==2.25.1
httpx==0.19.0
# tracing, logging and telemetry
opencensus==0.7.13
opencensus-ext-logging==0.1.0
opencensus-ext-httplib==0.7.4
opencensus-ext-requests==0.7.5
# common
python-dateutil==2.8.2
asynclog==0.1.7
